* {
	-webkit-box-sizing: border-box; 
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    outline: none;
}

body,html{
	height: 100%;
	margin: 0;
	padding: 0;
}

body{
	overflow-x: hidden;
}

.parallax{

	height: 100%;
	background-image: url('../images/8870bc52678877.5608ea3b95196.jpg');
	background-position: center;
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: cover;
    opacity: 0.9;
	filter: alpha(opacity=90);
	filter:brightness(80%);
	filter:contrast(90%);
	filter:hue-rotate(0deg);
}

#opn{
	cursor: pointer;
	margin-left: 1%;
	margin-top: 1%;
}

.logo{
	position: absolute;
	top: 20%;
	text-align: center;
	width: 100%;
	
}

.rName{
	font-family: 'Arizonia', cursive;
	margin: 0;
	padding: 0;
	font-size: 7vw;
	font-weight: bolder;
	background: linear-gradient(to bottom, #ff9900 0%, #6600ff 100%);
  	-webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: .5px #6e0830;
	display: inline;
	filter:brightness(120%);
	filter:contrast(150%);
}

.nav{
	position: absolute;
	top: 70%;
	width: 100%;
}

#nav1,#nav2,#nav3{
	font-family: 'Pacifico', cursive;

	font-size: 2.4vw;
	border-radius: 50px;
	background-color: transparent;
	padding-left: 3%;
	padding-right: 3%;
	border: 3px solid #acacac;
	font-weight: bold;

}

#nav1:hover,#nav2:hover,#nav3:hover{
	background-color: white;
	color:purple;
	border-color: orange;

}

#nav1{
	margin-left: 10%;
}

#nav2{
	margin-left: 20%;
}

#nav3{
	margin-left: 20%;
}

.food{
	height: 100%;
	overflow: scroll;

	background-image: url('../images/5D3_4637-1280x640.jpg');
	background-position: center;
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: cover;
	opacity: 0.9;
	filter: alpha(opacity=90);
	filter:brightness(80%);
	filter:contrast(90%);
	filter:hue-rotate(0deg);

}

.resturants{
	height: 100%;
	overflow: scroll;

	background-image: url('../images/fstoppers_intro.jpg');
	background-position: center;
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: cover;
	opacity: 0.9;
	filter: alpha(opacity=90);
	filter:brightness(80%);
	filter:contrast(90%);
	filter:hue-rotate(0deg);
}

.offer{

	height: 100%;
	overflow: scroll;

	background-image: url('../images/fa369c32954509.569a122688ef5.jpg');
	background-position: center;
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: cover;
	opacity: 0.9;
	filter: alpha(opacity=90);
	filter:brightness(80%);
	filter:contrast(80%);
	filter:hue-rotate(0deg);
}

.orr{
	padding: 0;
	margin-top: 2%;
	margin-bottom: 0;
	margin-bottom: 0;
	font-weight: bolder;
	font-family: 'Pacifico', cursive;
}



.menu{
	position: absolute;
	left: 40%;
}

.rName{
	font-family: 'Arizonia', cursive;
	margin: 0;
	padding: 0;
	font-size: 7vw;
	font-weight: bolder;
	background: linear-gradient(to bottom, #ff9900 0%, #6600ff 100%);
  	-webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: .5px #660033;
	display: inline;
	filter:brightness(120%);
	filter:contrast(150%);
}
.oName{
	font-family: 'Arizonia', cursive;
	margin: 0;
	padding: 0;
	font-size: 8vw;
	font-weight: bolder;
	background: linear-gradient(to bottom, #ff9900 0%, #6600ff 100%);
  	-webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: .5px #660033;
	display: inline;
	filter:brightness(140%);
	filter:contrast(150%);

}

.ofr{
	position: absolute;
	left: 40%;
}

.food figure{
	padding: 0;
	margin: 0;
	margin-top: 9.5%;
	width: 100000%;
}

.resturants figure{
	padding: 0;
	margin: 0;
	margin-top: 9.5%;
	width: 100000%;
}

.offer figure{
	padding: 0;
	margin: 0;
	margin-top: 10%;
	width: 100000%;
}

.food::-webkit-scrollbar {
    width: 0px;  /* remove scrollbar space */
    background: transparent;  /* optional: just make scrollbar invisible */
}

.resturants::-webkit-scrollbar {
    width: 0px;  /* remove scrollbar space */
    background: transparent;  /* optional: just make scrollbar invisible */
}

.offer::-webkit-scrollbar {
    width: 0px;  /* remove scrollbar space */
    background: transparent;  /* optional: just make scrollbar invisible */
}

.foodItem{
	position: relative;
	float: left;
	height: 488px;
	width: 440.54px;
	background-color: #2F2F31;
	padding-left: 6.5px;
	padding-right: 6.5px;
	padding-bottom: 19.5px;
	padding-top: 6.5px;
	top: 4%;
	border-radius: 5px;
	margin-left: 4px;
	display: inline-block;
}

.resitem{
	position: relative;
	float: left;
	height: 483px;
	width: 440.54px;
	background-color: #2F2F31;
	padding-left: 6.5px;
	padding-right: 6.5px;
	padding-bottom: 19.5px;
	padding-top: 6.5px;
	top: 4%;
	border-radius: 5px;
	margin-left: 4px;
	display: inline-block;
}

.offerItem{
	position: relative;
	float: left;
	height: 480px;
	width: 440.54px;
	background-color: #2F2F31;
	padding-left: 6.5px;
	padding-right: 6.5px;
	padding-bottom: 19.5px;
	padding-top: 6.5px;
	top: 4%;
	border-radius: 5px;
	margin-left: 4px;
	display: inline-block;
	/*overflow: hidden;*/

}

.foodItem img{
	height: 65%;
	width: 100%;
	padding: 0;
	margin: 0;
	border-radius: 4px;
}

.resitem img{
	height: 75%;
	width: 100%;
	padding: 0;
	margin: 0;
	border-radius: 4px;
}

.offerItem img{
	height: 68%;
	width: 100%;
	padding: 0;
	margin: 0;
	border-radius: 4px;
}

.fn{
	padding: 0;
	margin-top: 1%;
	margin-bottom: 0;
	font-family: 'Pacifico', cursive;
}

.on{
	padding: 0;
	margin-top: 1%;
	margin-bottom: 0;
	font-weight: bolder;
	font-family: 'Acme', sans-serif;
}

.oat{
	font-size: 1.2vw;
	color: white;
	font-weight: bold;
	font-family: serif;
}

.ov{
	margin-top: 1%;
	margin-bottom: 0;
	padding-left: 1%;
	padding-right: 1%;
	height: 123px;
	overflow-y: scroll;
	overflow-x: hidden;
}

.ov::-webkit-scrollbar {
    width: 0.4em;
}
 
.ov::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 50px rgba(0,0,0,0.3);
}
 
.ov::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
}

.on .fa-trash-alt{
	margin-left: 11%;
	display: none;
}

.cat{
	margin-top: 1%;
	margin-bottom: 0;
	font-family: 'Pacifico', cursive;
	padding: 0;
	font-size: 1.1vw;
}

.rtnm{
	margin-top: 1%;
	margin-bottom: 0;
	font-family: 'Pacifico', cursive;
	padding: 0;
	font-size: 1.1vw;
}


.prc{
	margin-top: 0;
	margin-bottom: 0;
	font-family: 'Pacifico', cursive;
	padding: 0;
	font-size: 1.1vw;
}

.rtng{
	margin-top: 1%;
	margin-bottom: 0;
	font-family: 'Pacifico', cursive;
	padding: 0;
	font-size: 1.1vw;
}

.rating{
	border:none;
	float: left;
	margin:0;
	padding: 0;
	display: none;
}

.rating > input{
	display: none;
}
.rating > label{
	margin:0;
	padding: 0;
}

.rating > label::before{
	margin: 5px;
	font-stretch: 1.25em;
	font-family: FontAwesome;
	display: inline-block;
	content: "\f005";
}

.rating > .half::before{
	content: "\f089";
	position: absolute;
}

.rating > label{
	color: #ddd;
	float: right;
}


.rating > input:checked ~ label,
.rating:not(:checked) > label:hover,
.rating:not(:checked) > label:hover ~ label{
	color: #FFD700;
}

.rating > input:checked + label:hover,
.rating > input:checked ~ label:hover,
.rating > label:hover ~ input:checked ~ label,
.rating > input:checked ~ label:hover ~ label{
	color: #FFED85;
}


.fa-heart{
	position: absolute;
	top: 29%;
	left: 41%;
	color: silver;
	font-size: 4vw;
	
}

#bar{
	color: white;
	font-size: 3vw;
}

.addResturant{
	position: relative;
	width: 60%;
	left: 20%;
	top: 20% !important;
	padding: 0;
	border-radius: 5px;
	display: block;
	background: linear-gradient(to bottom right, #b2b200 0%, #ffff66 100%);
	display: none;
	
}


.divclose{
	position: absolute;
	top: 0;
	right: 2%;
	width: auto;
}


.closebtn{
	text-decoration: none;
	color: black;
	font-size: 2.5vw;
	font-weight: bold;
	display: block;
	transition: 0.3s;
}

.icon{
	width: 18%;
	height: 18%;
	border-radius: 50%;
	position: relative;
	left: calc(44% - 44px);
	top: -80px;
	background: linear-gradient(to bottom, #b2b200 0%, #ffff66 100%);
	box-shadow: 5px 5px 10px #4C4C00;
}

.firstField{
	border: none;
	margin-bottom: 0;
	display: block;
	padding: 0;
	height: auto;
	margin: 0;
	margin-top: -2%;
	border-radius: 5px;
	margin-top: 2%;
}

.firstField #ff2,#ff4{
	font-size: 1.6vw;
	font-weight: bolder;
	color: #3f1f09;
	text-shadow: 3px 3px 5px #f1d2bb;
}

.firstField #ff3,#ff4,#ff5{
	margin-top: 1.5%;
	margin-left: 2%;
	margin-right: 2%;
}

.firstField #ff2{
	margin-top: 0;
	margin-left: 2%;
	margin-right: 2%;
}


.firstField input[type="text"],input[type="password"]{
	width: 100%;
	text-decoration: none;
	padding: 1.2% !important;
	border: 3px solid #555;
	border-radius: 25px;
	outline: none;
}

.firstField input[type="button"]{
	
	font-size: 1.6vw;
	margin-left: 92%;
	border-radius: 5px;
	background-color: #5d5137;
    color: #faf0e8;
	outline: none;
	font-weight: bolder;
	padding-left: 1%;
	padding-right: 1%;

}

.firstField #ff6{
	margin-top: 3.5%;
	margin-left: 2%;
	margin-right: 2%;
	margin-bottom: 1.5%;

}


.firstField input[type="button"]:hover{
	background-color:#737373 ;
	color: #f2f2f2;
	box-shadow: none;

}
.srch{
	position: absolute;
	left: 95%;
	top: 4%;

}
.fa-search{
	font-size: 3vw;
	color: white;
	cursor: pointer;
}

.srch2{
	width: 100%;
	position: absolute;
	top: 10%;
	z-index: 1;
	filter: contrast(100%);
	filter: brightness(100%);
	display: none;

}

.srchbox{
	width: 100%;
	height: 80px;
	margin-top: 1%;
	font-size: 6vw;
	background: transparent;
	border-top: none;
	border-right: none;
	border-left: none;
	color: white;
	padding-bottom: 0.4%;
}

.srchbox::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: white;
}

.srchbox::-moz-placeholder { /* Firefox 19+ */
  color: white;
}

.srchbox:-ms-input-placeholder { /* IE 10+ */
  color: white;
}

.srchbox:-moz-placeholder { /* Firefox 18- */
  color: white;
}

#rd2{
	margin-left: 2%;
}

.txtHint{
	color: white;
	font-size: 4vw;
	display: block;
	background-color: gray;
	padding-left: 2%;
	margin-top: 3px;
	cursor: pointer;
}

.suggest{
	margin-top: 4%;


}

